<div>
  <h2>
    <ol class="agate-breadcrumb">
      <li><a href="#/groups" translate>groups</a></li>
      <li class="active"><span ng-if="group.name">{{group.name}}</span><span ng-if="!group.name" translate>group.new</span></li>
    </ol>
  </h2>

  <div class="row">
    <div class="col-md-6">
      <form name="form" role="form" novalidate ng-submit="save(form)">
        <p class="alert alert-danger" ng-show="form.saveAttempted && form.$invalid" translate="">fix-error</p>

        <div form-input disabled="group.id" name="name" model="group.name" label="group.name" required="true"></div>

        <div form-textarea name="description" model="group.description" label="group.description"></div>

        <div class="form-group">
          <label class="control-label">
            <span translate>applications</span>
          </label>
          <ui-select multiple theme="bootstrap" ng-model="group.applications" reset-search-input="false">
            <ui-select-match><span ng-bind-html="$select.selected[$index]"></span></ui-select-match>
            <ui-select-choices  repeat="application in applicationList">
              {{application}}
            </ui-select-choices>
          </ui-select>
        </div>

        <a href="#/groups" class="btn btn-default">
          <span translate>cancel</span>
        </a>

        <button type="submit" class="btn btn-info">
          <span translate>save</span>
        </button>

      </form>
    </div>
  </div>
</div>


