<div>
  <h2 translate>group.titleEdit</h2>
  <div class="row">
    <div class="col-md-6">
      <form name="form" role="form" novalidate ng-submit="save(form)">
        <p class="alert alert-danger" ng-show="form.saveAttempted && form.$invalid" translate="">fix-error</p>

        <div form-input name="name" model="group.name" label="group.name" required="true"></div>

        <div form-textarea name="description" model="group.description" label="group.description"></div>

        <a href="#/groups" class="btn btn-default">
          <span translate>cancel</span>
        </a>

        <button type="submit" class="btn btn-info">
          <span translate>save</span>
        </button>

      </form>
    </div>
  </div>
</div>


