<div>
  <h2 translate>group.titleView</h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
        <tr>
          <td translate>group.name</td>
          <td>{{group.name}}</td>
        </tr>
        <tr>
          <td translate>group.description</td>
          <td>{{group.description}}</td>
        </tr>
        <tr>
          <td translate>group.applications</td>
          <td>{{group.applications.join(', ')}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <a href="#/group/{{group.id}}/edit" class="btn btn-primary">
    <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
  </a>
</div>
