<h3 translate>global.users</h3>
<p ng-if="!$ctrl.users" class="help-block"><span translate>user.none</span></p>
<div ng-if="$ctrl.users">
  <div class="row voffset2">
    <div class="col-xs-4">
      <span class="input-group input-group-sm no-padding-top">
        <span class="input-group-addon" id="application-search"><i class="glyphicon glyphicon-search"></i></span>
        <input ng-model="$ctrl.searchText" type="text" class="form-control width25" aria-describedby="application-search">
      </span>
    </div>
    <div class="col-xs-8">
      <dir-pagination-controls class="pull-right"></dir-pagination-controls>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped" obiba-table-sorter="logsHistory">
      <thead>
      <tr>
        <th translate>global.name</th>
        <!--<th translate>global.status</th>-->
        <th translate>user.email</th>
      </tr>
      </thead>
      <tbody>
      <tr dir-paginate="user in $ctrl.users | filter: $ctrl.searchText | itemsPerPage: 10">
        <td>
          <a ng-href="#{{'/user/' + user.id}}"><span>{{user.fullName}}</span></a>
        </td>
        <td>
          <span>{{user.email}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
