<div>
  <div ng-include="'app/user/views/user-list-header.html'" ng-init="tabName='requests'"></div>

  <p class="help-block" ng-if="users.length == 0 && !loading">
    <span translate>user.none-requests</span>
  </p>

  <p ng-if="loading" class="voffset2 loading">
  </p>

  <p class="help-block" ng-if="users.length > 0" translate>user.pending-requests-help</p>

  <div ng-if="users.length > 0">
    <div class="row voffset2">
      <div class="col-xs-4">
      <span class="input-group input-group-sm no-padding-top">
        <span class="input-group-addon" id="study-search"><i class="glyphicon glyphicon-search"></i></span>
        <input ng-model="searchText" type="text" class="form-control width25" aria-describedby="user-search">
      </span>
      </div>
      <div class="col-xs-8">
        <dir-pagination-controls class="pull-right"></dir-pagination-controls>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th translate>user.name</th>
          <th translate>user.fullName</th>
          <th translate>user.email</th>
          <th translate>user.groups</th>
          <th translate>user.applications</th>
          <th translate>user.actions</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="user in users | filter:searchText | itemsPerPage: 20">
          <td>
            <a ng-href="#/user/{{user.id}}" translate>{{user.name}}</a>
          </td>
          <td>
            {{user.firstName}} {{user.lastName}}
          </td>
          <td>
            <a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
          </td>
          <td>
            <span class="label label-default hoffset-right" ng-repeat="group in user.groups">{{group}}</span>
          </td>
          <td>
            <ul class="no-style-list">
              <li ng-if="user.applications && user.applications.length > 0"><span
                class="label label-default hoffset-right" ng-repeat="app in user.applications">{{app}}</span></li>
              <li><span class="label label-info hoffset-right" ng-repeat="(app, appGroups) in user.applicationsGroups"
                title="{{'group.inherited-applications' | translate: {groups: appGroups.join(', ')} }}">{{app}}</span>
              </li>
            </ul>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <a href="" ng-click="approve(user)" title="{{'user.approve' | translate}}" translate><i
                  class="fa fa-check"></i></a>
              </li>
              <li>
                <a href="" ng-click="reject(user)" title="{{'user.reject' | translate}}" translate><i
                  class="fa fa-ban"></i></a>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
