<div>

  <h2 translate>users</h2>

  <a ng-href="#/user/new" class="btn btn-info">
    <i class="fa fa-plus"></i> <span translate>user.add</span>
  </a>

  <p class="voffset3" ng-hide="users.length > 0">
    <span translate>user.none</span>
  </p>

  <div class="row voffset4" ng-hide="users.length == 0">
    <div class="col-xs-4">
      <span class="input-group input-group-sm no-padding-top">
        <span class="input-group-addon" id="study-search"><i class="glyphicon glyphicon-search"></i></span>
        <input ng-model="searchText" type="text" class="form-control width25" aria-describedby="user-search">
      </span>
    </div>
    <div class="col-xs-8">
      <dir-pagination-controls class="pull-right"></dir-pagination-controls>
    </div>
  </div>

  <div class="table-responsive" ng-hide="users.length == 0">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th translate>user.name</th>
        <th translate>user.fullName</th>
        <th translate>user.email</th>
        <th translate>user.status</th>
        <th translate>user.role</th>
        <th translate>user.groups</th>
        <th translate>user.applications</th>
        <th translate>user.actions</th>
      </tr>
      </thead>
      <tbody>
      <tr dir-paginate="user in users | filter:searchText | itemsPerPage: 20">
        <td>
          <a ng-href="#/user/{{user.id}}">{{user.name}}</a>
        </td>
        <td>
          {{user.firstName}} {{user.lastName}}
        </td>
        <td>
          <a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
        </td>
        <td translate="user.{{user.status}}">
        </td>
        <td translate="user.{{user.role}}">
        </td>
        <td>
          <span class="label label-default hoffset-right" ng-repeat="group in user.groups">{{group}}</span>
        </td>
        <td>
          <ul class="no-style-list">
            <li ng-if="user.applications && user.applications.length > 0"><span class="label label-default hoffset-right" ng-repeat="app in user.applications">{{app}}</span></li>
            <li><span class="label label-info hoffset-right" ng-repeat="(app, appGroups) in user.applicationsGroups" title="{{'group.inherited-applications' | translate: {groups: appGroups.join(', ')} }}">{{app}}</span></li>
          </ul>
        </td>
        <td class="action-column">
          <ul class="list-inline pull-right">
            <li>
              <a ng-href="#/user/{{user.id}}/edit"><i class="fa fa-pencil"></i></a>
            </li>
            <li>
              <a ng-click="delete(user)"><i class="fa fa-trash-o"></i></a>
            </li>
            <li>
              <a href="" ng-click="resetPassword(user)" translate title="{{'user.resetPassword' | translate}}"><i class="fa fa-bolt"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
