<div>
  <h2 translate>users</h2>

  <div class="tabs-menu" ng-class="{'tabs-left': screen.is('lg')}">
    <ul class="nav nav-tabs">
      <li ng-class="{'active': tabName === 'users'}">
        <a href="#/users" title="{{'user.list' | translate}}"><i class="fa fa-group"></i></a>
      </li>
      <li ng-class="{'active': tabName === 'requests'}">
        <a href="#/users/requests" title="{{'user.pending-requests' | translate}}"><i class="fa fa-sign-in"></i></a>
      </li>
    </ul>
  </div>
</div>
