<div>

  <h2 translate>users</h2>

  <a ng-href="#/user/new" class="btn btn-info">
    <i class="fa fa-plus"></i> <span translate>user.add</span>
  </a>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th translate>user.name</th>
        <th translate>user.fullName</th>
        <th translate>user.email</th>
        <th translate>user.status</th>
        <th translate>user.role</th>
        <th translate>user.groups</th>
        <th translate>user.applications</th>
        <th translate>user.realm</th>
        <th translate>user.actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users">
        <td>
          {{user.name}}
        </td>
        <td>
          {{user.firstName}} {{user.lastName}}
        </td>
        <td>
          <a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
        </td>
        <td>
          <i class="fa fa-star" ng-hide="user.status != 'ACTIVE'" title="{{user.status.toLowerCase()}}"></i>
          <i class="fa fa-star-half-o" ng-hide="user.status != 'PENDING'" title="{{user.status.toLowerCase()}}"></i>
          <i class="fa fa-star-o" ng-hide="user.status != 'INACTIVE'" title="{{user.status.toLowerCase()}}"></i>
        </td>
        <td>
          <span translate>user.{{user.role}}</span>
        </td>
        <td>
          {{user.groups.join(', ')}}
        </td>
        <td>
          {{user.applications.join(', ')}}
        </td>
        <td>
          {{user.realm}}
        </td>
        <td>
          <ul class="list-inline">
            <li>
              <a ng-href="#/user/{{user.id}}" translate>view</a>
            </li>
            <li>
              <a ng-href="#/user/{{user.id}}/edit" translate>edit</a>
            </li>
            <li>
              <a ng-href="#/user/{{user.id}}/delete" translate>delete</a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
