<div>
  <h2>
    <ol class="agate-breadcrumb">
      <li><a href="#/applications" translate>applications</a></li>
      <li class="active">{{application.name}}</li>
    </ol>
  </h2>

  <div class="row">
    <div class="col-md-6">
      <h3 translate>properties</h3>
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <th translate>application.name</th>
          <td>{{application.name}}</td>
        </tr>
        <tr>
          <th translate>application.description</th>
          <td>{{application.description}}</td>
        </tr>
        <tr>
          <th translate>application.redirectURI</th>
          <td>{{application.redirectURI}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <a href="#/application/{{application.id}}/edit" class="btn btn-primary">
    <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
  </a>
</div>
