<div class="modal-content">
  <form name="form" role="form" novalidate
    class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save(form)">

    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
      <h4 class="modal-title" id="myAttributeModal">
        <span translate>global.menu.myProfile</span>
      </h4>
    </div>

    <div class="modal-body">
      <tabset>
        <tab select="tabGeneral=true" heading="{{'user.general-info' | translate}}">
          <obiba-alert id="ProfileModalController"></obiba-alert>

          <div>
            <div form-input name="user.firstName" model="settingsAccount.firstName" label="user.firstName"></div>
            <div form-input name="user.lastName" model="settingsAccount.lastName" label="user.lastName"></div>
            <div form-input type="email" name="user.email" model="settingsAccount.email" label="user.email" required="true"></div>

            <div ng-repeat="attributeConfigPair in attributeConfigPairs">
              <attribute-item attribute="attributeConfigPair.attribute" attribute-config="attributeConfigPair.attributeConfig"></attribute-item>
            </div>

          </div>
        </tab>
        <tab select="tabAttributes=true" heading="{{'attributes' | translate}}">
          <attributes-form attributes="settingsAccount.attributes" attributes-config="attributesConfig"></attributes-form>
        </tab>
      </tabset>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">
        <span translate>cancel</span>
      </button>

      <button type="submit" class="btn btn-primary">
        <span translate>save</span>
      </button>
    </div>

  </form>
</div>

