<div>

  <h2 translate>global.menu.myProfile</h2>

  <obiba-alert id="ProfileController"></obiba-alert>

  <div class="voffset2">
    <div class="row">
      <div class="col-md-6">

        <h3 translate>user.general-info</h3>
        <table class="table table-bordered table-striped">
          <tbody>
          <tr>
            <td translate>user.firstName</td>
            <td>{{settingsAccount.firstName}}</td>
          </tr>
          <tr>
            <td translate>user.lastName</td>
            <td>{{settingsAccount.lastName}}</td>
          </tr>
          <tr>
            <td translate>user.email</td>
            <td>{{settingsAccount.email}}</td>
          </tr>
          <tr>
            <td translate>user.role</td>
            <td>{{settingsAccount.role}}</td>
          </tr>
          <tr>
            <td translate>user.groups</td>
            <td><span class="label label-default hoffset-right"
              ng-repeat="group in settingsAccount.groups">{{group}}</span></td>
          </tr>
          <tr>
            <td translate>user.applications</td>
            <td><span class="label label-default hoffset-right"
              ng-repeat="app in settingsAccount.applications">{{app}}</span></td>
          </tr>

          <tr ng-repeat="userConfigAttribute in userConfigAttributes">
            <td>{{userConfigAttribute.name}}</td>
            <td>
              <span ng-show="userConfigAttribute.type !== 'BOOLEAN'">{{userConfigAttribute.value}}</span>
              <span ng-show="userConfigAttribute.type === 'BOOLEAN' && userConfigAttribute.value"><i
                class="fa fa-check"></i></span>
            </td>
          </tr>
          </tbody>
        </table>

        <attributes-view attributes='userNonConfigAttributes'></attributes-view>

        <update-password-button profile="profile" updated="onPasswordUpdated()"
          user-id="_current"></update-password-button>

        <a ng-click="edit()" class="btn btn-primary">
          <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
        </a>
      </div>
      <div class="col-md-6">
        <h3 translate>user.authorizations</h3>
        <p class="help-block" translate>profile.authorizations-help</p>
        <p class="help-block" ng-if="!authorizations || authorizations.length === 0" translate>
          user.authorizations-none</p>
        <div class="table-responsive" ng-if="authorizations && authorizations.length>0">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th translate>authorization.application</th>
              <th translate>authorization.scopes</th>
              <th translate>actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="authz in authorizations">
              <td>
                {{authz.application}}
              </td>
              <td>
                <ul class="no-style-list">
                  <li ng-repeat="scope in authz.scopes">
                  <span
                    class="label label-default hoffset-right">{{scope}}</span>
                  </li>
                </ul>
              </td>
              <td>
                <a ng-click="deleteAuthorization(authz)" title="{{'delete' | translate}}"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

