<div>

  <h2 translate>global.menu.myProfile</h2>

  <div class="voffset2">
    <div class="row">
      <div class="col-md-6">
        <obiba-alert id="ProfileController"></obiba-alert>

        <table class="table table-striped">
          <tbody>
          <tr>
            <td translate>user.firstName</td>
            <td>{{settingsAccount.firstName}}</td>
          </tr>
          <tr>
            <td translate>user.lastName</td>
            <td>{{settingsAccount.lastName}}</td>
          </tr>
          <tr>
            <td translate>user.email</td>
            <td>{{settingsAccount.email}}</td>
          </tr>
          <tr>
            <td translate>user.role</td>
            <td>{{user.role}}</td>
          </tr>
          <tr>
            <td translate>user.groups</td>
            <td>{{user.groups.join(', ')}}</td>
          </tr>

          <tr ng-repeat="userConfigAttribute in userConfigAttributes">
            <td>{{userConfigAttribute.name}}</td>
            <td>
              <span ng-show="userConfigAttribute.type !== 'BOOLEAN'">{{userConfigAttribute.value}}</span>
              <span ng-show="userConfigAttribute.type === 'BOOLEAN' && userConfigAttribute.value"><i class="fa fa-check"></i></span>
            </td>
          </tr>
          </tbody>
        </table>

        <attributes-view attributes='userNonConfigAttributes'></attributes-view>

      </div>
    </div>

    <update-password-button profile="profile" updated="onPasswordUpdated()" user-id="_current"></update-password-button>

    <a ng-click="edit()" class="btn btn-primary">
      <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
    </a>

  </div>
</div>

