<div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 translate="name.title">Authentication</h1>

      <div class="alert alert-danger" ng-show="authenticationError" translate="name.messages.error.authentication">
        <strong>Authentication failed!</strong> Please check your credentials and try again.
      </div>
      <form class="form" role="form">
        <div class="form-group">
          <label for="username" translate="name.form.username">Login</label>
          <input type="text" class="form-control" id="username"
              placeholder="{{'name.form.username.placeholder' | translate}}" ng-model="username">
        </div>
        <div class="form-group">
          <label for="password" translate="name.form.password">Password</label>
          <input type="password" class="form-control" id="password"
              placeholder="{{'name.form.password.placeholder' | translate}}"
              ng-model="password">
        </div>
        <div class="form-group">
          <label for="rememberMe" translate="name.form.rememberme">Automatic name</label>
          <input type="checkbox" class="form-control" id="rememberMe" ng-model="rememberMe" checked>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="name()" translate="name.form.button">
          Authenticate
        </button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
