# OBiBa/Agate systemd service file

[Unit]
Description=OBiBa Agate service

[Service]
WorkingDirectory=/var/lib/agate
EnvironmentFile=/etc/default/agate
User=agate
LimitNOFILE=16384
StandardOutput=file:/var/log/agate/stdout.log
StandardError=file:/var/log/agate/stderr.log
ExecStart=/usr/bin/java $JAVA_ARGS -cp "${AGATE_HOME}/conf:${AGATE_DIST}/WEB-INF/classes:${AGATE_DIST}/WEB-INF/lib/*" -DAGATE_HOME=${AGATE_HOME} -DAGATE_DIST=${AGATE_DIST} -DAGATE_LOG=${AGATE_LOG} org.obiba.agate.Application $AGATE_ARGS

[Install]
WantedBy=network-online.target
