<div>
  <h2 translate>config.title-edit</h2>
  <div class="row">
    <div class="col-md-6">
      <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

        <div form-input name="name" model="agateConfig.name" label="config.name" required="true"
            help="config.name-help"></div>

        <div form-input name="domain" model="agateConfig.domain" label="config.domain"
            help="config.domain-help"></div>

        <div form-input type="number" min="0" name="shortTimeout" model="agateConfig.shortTimeout" label="config.shortTimeout"
            help="config.shortTimeout-help"></div>

        <div form-input type="number" min="0" name="longTimeout" model="agateConfig.longTimeout" label="config.longTimeout"
            help="config.longTimeout-help"></div>

        <a href="#/config" class="btn btn-default">
          <span translate>cancel</span>
        </a>

        <button type="submit" class="btn btn-info">
          <span translate>save</span>
        </button>

      </form>
    </div>
  </div>

</div>


