Source: agate
Section: devel
Priority: extra
Maintainer: OBiBa <info@obiba.org>
Build-Depends: debhelper (>= 7.0.15)
Standards-Version: 3.8.4
Homepage: http://www.obiba.org

Package: agate
Architecture: all
Pre-Depends: debconf, coreutils (>= 6.10)
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: openjdk-17-jdk | openjdk-17-jdk-headless | openjdk-17-jre | openjdk-17-jre-headless
Description: OBiBa user portal for biobanks
 Agate.
 .
 OBiBa is an international software development project committed to building a
 full suite of open source software for biobanks. It is comprised of several
 independent and self-funded teams around the world, each of which is producing
 stand-alone applications that support particular biobank activities. The
 applications can be customized and integrated to create a complete biobank
 information management system.
