<div>

  <h2 translate>administration.config.title-edit</h2>

  <form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

    <div form-input name="name" model="agateConfig.name" label="administration.config.name" required="true"
        help="administration.config.name-help"></div>

    <div form-input name="domain" model="agateConfig.domain" label="administration.config.domain"
        help="administration.config.domain-help"></div>

    <div form-input name="shortTimeout" model="agateConfig.shortTimeout" label="administration.config.shortTimeout"
        help="administration.config.shortTimeout-help"></div>

    <div form-input name="longTimeout" model="agateConfig.longTimeout" label="administration.config.longTimeout"
        help="administration.config.longTimeout-help"></div>

    <a href="#/config" class="btn btn-default">
      <span translate>cancel</span>
    </a>

    <button type="submit" class="btn btn-info">
      <span translate>save</span>
    </button>

  </form>

</div>


