<div>

  <h2 translate>administration.config.title</h2>

  <table class="table table-striped">
    <tbody>
    <tr>
      <td translate>administration.config.name</td>
      <td>{{agateConfig.name}}</td>
    </tr>
    <tr>
      <td translate>administration.config.domain</td>
      <td>{{agateConfig.domain}}</td>
    </tr>
    <tr>
      <td translate>administration.config.publicUrl</td>
      <td>{{agateConfig.publicUrl}}</td>
    </tr>
    </tbody>
  </table>

  <a href="#/config/edit" class="btn btn-primary">
    <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
  </a>

</div>
