# OBiBa/Agate systemd service file

[Unit]
Description=OBiBa Agate service

[Service]
WorkingDirectory=/var/lib/agate
EnvironmentFile=/etc/default/agate
User=agate
LimitNOFILE=16384
StandardOutput=file:/var/log/agate/stdout.log
StandardError=file:/var/log/agate/stderr.log
ExecStart=/usr/share/agate/bin/start.sh

[Install]
WantedBy=network-online.target
