<div ng-cloak>
  <h1><span translate>main.title</span></h1>
  <p><span translate>main.subtitle</span></p>

  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-success" ng-if="authenticated && hasRole('agate-user')"
          translate translate-values="{username: '{{subject.login}}'}">
      main.logged.userMessage
      </div>
      <div class="alert alert-warning" ng-if="authenticated && hasRole('agate-administrator')"
          translate translate-values="{username: '{{subject.login}}'}">
        main.logged.adminMessage
      </div>
      <a href="#/login" class="btn btn-info" ng-if="!authenticated">
        <span translate>login.form.button</span>
      </a>
      <a href="#/join" class="btn btn-default" ng-if="!authenticated">
        <span translate>join.form.button</span>
      </a>
      <a href="#/profile" class="btn btn-info" ng-if="authenticated && hasProfile">
        <span translate>global.menu.myProfile</span>
      </a>
    </div>
  </div>
</div>
