<div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 translate>oauth.title</h2>

      <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
      </div>

      <div class="alert alert-danger" ng-if="error" translate="{{'oauth.' + error}}">
      </div>

      <div ng-if="!error">
        <p class="alert alert-info">
          <strong>{{client.name}}</strong> <span translate>oauth.grant-request</span>
        </p>

        <div ng-if="client.description">
          <h4>{{client.name}}</h4>
          <p class="help-block">
            {{client.description}}
          </p>
        </div>

        <div class="panel panel-default voffset4">
          <div class="panel-heading" translate>oauth.review-permissions</div>
          <div class="panel-body">
            <div ng-repeat="appScope in applicationScopes | orderBy:'application.name':true">
              <div ng-if="appScope.application.id !== 'openid'">
                <h4>{{appScope.application.name}}</h4>
                <p class="help-block">
                  {{appScope.application.description}}
                </p>
                <ul>
                  <li ng-repeat="scope in appScope.scopes">
                    <code ng-if="scope.name">{{scope.name}}</code>
                    <span ng-if="scope.description">{{scope.description}}</span>
                    <span ng-if="!scope.name" translate>oauth.all-permissions</span>
                  </li>
                </ul>
              </div>
              <div ng-if="appScope.application.id === 'openid'">
                <h4 translate>{{agateConfig.name}}</h4>
                <p class="help-block" translate>oauth.openid-request</p>
                <ul>
                  <li ng-repeat="scope in appScope.scopes">
                    <code>{{scope.name}}</code>
                    <span>{{'oauth.openid-' + scope.name + '-description' | translate}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form role="form" action="ws/oauth2/authz" method="post">
              <input type="hidden" name="client_id" ng-value="auth.client_id">
              <input type="hidden" name="redirect_uri" ng-value="auth.redirect_uri">
              <input type="hidden" name="response_type" ng-value="auth.response_type">
              <input type="hidden" name="state" ng-value="auth.state">
              <input type="hidden" name="scope" ng-value="auth.scope">
              <button type="submit" name="grant" class="btn btn-default" value="false">
                <span translate>oauth.decline</span>
              </button>
              <button type="submit" name="grant" class="btn btn-primary" value="true">
                <span translate>oauth.accept</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
