<div class="row">
  <div class="col-md-6">

    <form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

      <div class="alert alert-success" ng-show="status && status === 'success'" translate="password.messages.success">
        <strong>Settings saved!</strong>
      </div>

      <p class="alert alert-danger" ng-show="status && status !== 'success'">
        required</p>

      <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
        <strong>Settings saved!</strong>
      </div>

      <div>
        <div form-input type="password" name="user.password" model="password" label="password.form.newpassword"></div>
        <div form-input type="password" name="user.password" model="confirmPassword" label="password.form.confirmpassword"></div>
      </div>

    </form>
  </div>
</div>

