<div class="row">
  <div class="col-md-6">
    <h2 translate>global.menu.myProfile</h2>

    <form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

      <p class="alert alert-danger" ng-show="form.saveAttempted && form.$invalid && form['user.email'].$error.required">
        {{'profile.required' | translate: {name: requiredField} }}</p>
      <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
        <strong>Settings saved!</strong>
      </div>

      <div>
        <div form-input name="user.firstName" model="settingsAccount.firstName" label="user.firstName"></div>
        <div form-input name="user.lastName" model="settingsAccount.lastName" label="user.lastName"></div>
        <div form-input type="email" name="user.email" model="settingsAccount.email" label="user.email" required="true"></div>
        <a ng-href="#/password">{{'profile.update-password' | translate}}</a>
      </div>

      <button class="voffset4" ng-disabled="form.$invalid || form.$pristine" type="submit" class="btn btn-primary">
        <span translate>save</span>
      </button>

    </form>
  </div>
</div>
