<div>

  <h3 translate>attributes</h3>

  <a ng-click="addAttribute()" class="btn btn-info">
    <i class="fa fa-plus"></i> <span translate>attribute.add-label</span>
  </a>

  <div class="row voffset4">
    <div class="col-xs-4">
      <span class="input-group input-group-sm no-padding-top">
        <span class="input-group-addon" id="attributes-search"><i class="glyphicon glyphicon-search"></i></span>
        <input ng-model="searchText" type="text" class="form-control width25" aria-describedby="attributes-search">
      </span>
    </div>
    <div class="col-xs-8">
      <dir-pagination-controls class="pull-right"></dir-pagination-controls>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th translate>attribute.name</th>
        <th translate>attribute.value</th>
        <th translate>attribute.action</th>
      </tr>
      </thead>
      <tbody>
      <tr dir-paginate="attribute in attributes | nonConfigAttributes: attributesConfig | filter:searchText | itemsPerPage: 10">
        <td>
          {{attribute.name}}
        </td>
        <td>
          {{attribute.value}}
        </td>
        <td>
          <ul class="list-inline pull-right">
            <li>
              <a ng-click="edit(attribute)"><i class="fa fa-pencil"></i></a>
            </li>
            <li>
              <a ng-click="delete(attribute)"><i class="fa fa-trash-o"></i></a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
