<div>

  <a ng-click="addAttribute()" class="btn btn-info">
    <i class="fa fa-plus"></i> <span translate>attribute.add-label</span>
  </a>

  <p class="voffset2" ng-if="nonConfigAttributes.length == 0">
    <span translate>attribute.none</span>
  </p>

  <div ng-if="nonConfigAttributes && nonConfigAttributes.length > 0">
    <div class="row voffset2">
      <div class="col-xs-4">
        <span class="input-group input-group-sm no-padding-top">
          <span class="input-group-addon" id="attributes-search"><i class="glyphicon glyphicon-search"></i></span>
          <input ng-model="searchText" type="text" class="form-control width25" aria-describedby="attributes-search">
        </span>
      </div>
      <div class="col-xs-8">
        <dir-pagination-controls class="pull-right"></dir-pagination-controls>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th translate>attribute.name</th>
          <th translate>attribute.value</th>
          <th translate>attribute.actions</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="attribute in nonConfigAttributes | filter:searchText | itemsPerPage: 10">
          <td translate>
            {{attribute.name}}
          </td>
          <td>
            {{attribute.value}}
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <a ng-click="edit(attribute)" title="{{'edit' | translate}}"><i class="fa fa-pencil"></i></a>
              </li>
              <li>
                <a ng-click="delete(attribute)" title="{{'delete' | translate}}"><i class="fa fa-trash-o"></i></a>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
