<div class="modal-content">

  <form name="form" role="form" novalidate
    class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="save(form)">

    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
      <h4 class="modal-title" id="myAttributeModal">
        <span translate>attribute.edit-label</span>
      </h4>
    </div>

    <div class="modal-body">
      <obiba-alert id="AttributeCreateFormModalController"></obiba-alert>
      <div form-input name="attribute.name" model="attribute.name" label="attribute.name" required="true"></div>
      <div form-input name="attribute.value" model="attribute.value" label="attribute.value"></div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">
        <span translate>cancel</span>
      </button>
      <button type="submit" class="btn btn-primary">
        <span translate>save</span>
      </button>
    </div>

  </form>

</div>
