<div>
  <h2>
    <ol class="agate-breadcrumb">
      <li><a href="#/tickets" translate>tickets</a></li>
      <li class="active ellipsis">{{ticket.id}}</li>
    </ol>
  </h2>


  <div class="row">
    <div class="col-md-6">
      <h4 translate>ticket.properties</h4>
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <th translate>ticket.username</th>
          <td>
            <a ng-href="#/user/{{ticket.username}}">{{ticket.username}}</a>
          </td>
        </tr>
        <tr>
          <th translate>ticket.created</th>
          <td>{{ticket.timestamps.created | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
        </tr>
        <tr>
          <th translate>ticket.expires</th>
          <td>{{ticket.expires | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
        </tr>
        <tr>
          <th translate>ticket.remembered</th>
          <td><i class="fa fa-check-square-o" ng-hide="!ticket.remembered"></i><i class="fa fa-square-o"
            ng-hide="ticket.remembered"></i></td>
        </tr>
        </tbody>
      </table>

      <h4 translate>authorization.title</h4>

      <p class="help-block" translate>ticket.authorization-help</p>

      <p class="help-block" ng-if="!ticket.authorization">
        <span translate>ticket.authorization-none</span>
      </p>

      <table class="table table-bordered table-striped" ng-if="ticket.authorization">
        <tbody>
        <tr>
          <th translate>authorization.code</th>
          <td>{{ticket.authorization.code}}</td>
        </tr>
        <tr>
          <th translate>authorization.username</th>
          <td>
            <a ng-href="#/user/{{ticket.authorization.username}}">{{ticket.authorization.username}}</a>
          </td>
        </tr>
        <tr>
          <th translate>authorization.application</th>
          <td>
            <a ng-href="#/application/{{ticket.authorization.application}}">{{ticket.authorization.application}}</a>
          </td>
        </tr>
        <tr>
          <th translate>authorization.redirectURI</th>
          <td>{{ticket.authorization.redirectURI}}</td>
        </tr>
        <tr>
          <th translate>authorization.scopes</th>
          <td>
            <span ng-if="ticket.authorization.scopes">{{ticket.authorization.scopes.join(" ")}}</span>
          </td>
        </tr>
        <tr>
          <th translate>authorization.created</th>
          <td>{{ticket.authorization.timestamps.created | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h4 translate>ticket.events</h4>

      <div ng-if="ticket.events.length > 0">
        <div class="row voffset2">
          <div class="col-xs-4">
      <span class="input-group input-group-sm no-padding-top">
        <span class="input-group-addon" id="ticket-search"><i class="glyphicon glyphicon-search"></i></span>
        <input ng-model="searchText" type="text" class="form-control width25" aria-describedby="ticket-search">
      </span>
          </div>
          <div class="col-xs-8">
            <dir-pagination-controls class="pull-right"></dir-pagination-controls>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered"
            ng-show="ticket.events && ticket.events.length > 0">
            <thead>
            <tr>
              <th translate>ticket.eventApplication</th>
              <th translate>ticket.eventAction</th>
              <th translate>ticket.eventTime</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="event in ticket.events| filter:searchText | itemsPerPage: 20">
              <td>
                <a ng-href="#/application/{{event.application}}">{{event.application}}</a>
              </td>
              <td>{{event.action}}</td>
              <td>{{event.time | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
