<div>
  <h2>
    <ol class="agate-breadcrumb">
      <li><a href="#/tickets" translate>tickets</a></li>
      <li class="active ellipsis">{{ticket.token}}</li>
    </ol>
  </h2>



  <div class="row">
    <div class="col-md-6">
      <h4 translate>ticket.properties</h4>
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <th translate>ticket.token</th>
          <td>
            <div style="word-break:break-all" ng-if="!jwt">
              {{ticket.token}}
            </div>
            <uib-tabset type="pills" ng-if="jwt">
              <uib-tab heading="{{'ticket.raw' | translate}}">
                <div style="word-break:break-all">
                  {{ticket.token}}
                </div>
              </uib-tab>
              <uib-tab heading="{{'ticket.decoded' | translate}}">
                <pre>{{jwt.header}}
.
{{jwt.claims}}
.
[signature]</pre>
              </uib-tab>
            </uib-tabset>
          </td>
        </tr>
        <tr>
          <th translate>ticket.username</th>
          <td>{{ticket.username}}</td>
        </tr>
        <tr>
          <th translate>ticket.created</th>
          <td>{{ticket.timestamps.created | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
        </tr>
        <tr>
          <th translate>ticket.expires</th>
          <td>{{ticket.expires | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
        </tr>
        <tr>
          <th translate>ticket.remembered</th>
          <td><i class="fa fa-check-square-o" ng-hide="!ticket.remembered"></i><i class="fa fa-square-o" ng-hide="ticket.remembered"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h4 translate>ticket.events</h4>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th translate>ticket.eventApplication</th>
          <th translate>ticket.eventAction</th>
          <th translate>ticket.eventTime</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in ticket.events">
          <td>{{event.application}}</td>
          <td>{{event.action}}</td>
          <td>{{event.time | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
