
spring:
    messageSource:
        cacheSeconds: 1
    freemarker:
      template-loader-path: classpath:/web/,classpath:/static/templates/,classpath:/public/templates/,classpath:/templates/,classpath:/_templates/
      request-context-attribute: rc
      settings:
        template_exception_handler: rethrow
    task:
      scheduling:
        pool:
          size: 50
        thread-name-prefix: agate-executor-

server:
  error:
    whitelabel:
      enabled: false
  servlet:
    session:
      cookie:
        name: JSESSIONID_8081

metrics:
    jmx.enabled: true
    graphite:
        enabled: false
        host: localhost
        port: 2003

cache.timeToLiveSeconds: 3600

authentication:
    oauth:
        clientid: jhipsterapp
        secret: mySecretOAuthSecret
# Token is valid 30 minutes
        tokenValidityInSeconds: 1800

#
# Security
#

login:
  maxTry: 3
  trialTime: 300
  banTime: 300
  otpTimeout: 600

csrf:
  allowed-agents: curl,python,java