server:
    port: 8081
    address: localhost

https:
    port: 8444

spring:
    profiles: prod
    data:
        mongodb:
            uri: mongodb://localhost:27017/agate
    mail:
        host: localhost
        port: 25
        user:
        password:
        protocol: smtp
        tls: false
        auth: false
        from: agate@example.org

shiro:
    password:
        nbHashIterations: 10000
        salt: agate

registration:
    pendingForApprovalSubject: Account Registration
    pendingForReviewSubject: Registration Pending
    confirmationSubject: Registration Approved
    resetPasswordSubject: Password Reset
    forgotUsernameSubject: Account Login Details

recaptcha:
    verifyUrl: https://www.google.com/recaptcha/api/siteverify
    secret: 6Lfo7gYTAAAAADym-vSDvPBeBCXaxIprA0QXLk_b

client:
    reCaptchaKey: 6Lfo7gYTAAAAAOyl8_MHuH-AVBzRDtpIuJrjL3Pb
